<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>WebAPI Blog</title>

		<link rel="stylesheet" href="/Content/css/bootstrap-3.1.1.min.css">
		<link rel="stylesheet" href="/Content/css/font-awesome-4.0.3.min.css">
		<link rel="stylesheet" href="/Content/css/style.css">
        <link rel="stylesheet" href="/Content/css/dialogs.min.css">

		<script src="/Content/js/jquery-2.1.1.min.js"></script>
		<!--<script src="/Content/js/bootstrap.min.js"></script>-->

		<script src="/Content/js/angular-1.2.9.min.js"></script>
		<script src="/Content/js/angular-animate.min.js"></script>
		<script src="/Content/js/angular-route.min.js"></script>
        <script src="/Content/js/angular-sanitize.min.js"></script>
        <script src="/Content/js/angular-translate.min.js"></script>
        <script src="/Content/js/dialogs.min.js"></script>
		<!--
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.min.js"></script>
		<script>
			window.angular || (
				document.write('<script src="/Content/js/angular-1.2.9.min.js"><\/script>'),
				document.write('<script src="/Content/js/angular-animate.min.js"><\/script>'),
				document.write('<script src="/Content/js/angular-route.min.js"><\/script>')
			);
		</script>
		-->
		
		<script src="/Content/js/angular/ui/bootstrap-0.11.0.js"></script>
		<script src="/Content/js/tinymce/tinymce.min.js"></script>
		<script src="/Content/js/angular/ui/tinymce.js"></script>
		
		<script src="/Content/js/script.js"></script>
	</head>
	<body ng-app="webAPIBlog" ng-controller="mainController">
		<div id="noscript">
			<div class="jumbotron text-center">
				<h1>Welcome to WebAPI Blog.</h1>
				<p>This application can show you the real strength of Web API combined with angular.js.</p>
				<p>But you must enable javascript in your browser :(</p>
			</div>
		</div>
		<div id="javascript" style="display: none">
			<header>
				<nav class="navbar navbar-default">
					<div class="container">
						<div class="navbar-header">
							<a class="navbar-brand" href="/">WebAPI Blog</a>
						</div>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#" style="cursor:default"><i class="fa fa-home"></i>&nbsp;Home</a></li>
							<li class="dropdown">
								<div class="btn-group">
									<button class="btn navbar-btn btn-info disabled"><i class="fa fa-user"></i>&nbsp;{{User.UserName}}&nbsp;</button>
									<button class="dropdown-toggle btn navbar-btn btn-info"><span class="caret"></span><span class="sr-only"></span></button>
								</div>
								<ul class="dropdown-menu">
									<li ng-show="!signed"><a style="cursor:pointer" ng-click="signinModal()"><i class="fa fa-sign-in"></i>&nbsp;Sign In</a></li>
									<li ng-show="!signed"><a style="cursor:pointer" ng-click="registerModal()"><i class="fa fa-plus fa-user"></i>&nbsp;Register</a></li>
									<!--<li ng-show="signed"><a style="cursor:pointer"><i class="fa fa-files-o"></i>&nbsp;My posts</a></li>-->
									<li ng-show="signed"><a style="cursor:pointer" ng-click="signout()"><i class="fa fa-sign-out"></i>&nbsp;Sign Out</a></li>
								</ul>
							</li>
							<li><span><button ng-show="signed" ng-click="postService.showPostForm = !postService.showPostForm" class="btn btn-default navbar-btn">Add post</button></span></li>
						</ul>
					</div>
				</nav>
			</header>
			<div ng-show="signed" collapse="!postService.showPostForm" class="container">
				<form ng-controller="postController" ng-submit="submit()" class="jumbotron">
					<div class="form-group">
						<input class="form-control" type="text" ng-model="post.title" placeholder="Title" />
					</div>
					<div class="form-group">
						<textarea ui-tinymce="tinymceOptions" ng-model="post.content"></textarea>
					</div>

					<input type="submit" value="Submit" class="btn btn-success pull-right" />
				</form>
			</div>
			<div ng-view>
			</div>
		</div>
		<script type="text/javascript">
			document.getElementById('noscript').style.display = 'none';
			document.getElementById('javascript').style.display = 'block';
		</script>
	</body>
</html>